@font-face{font-family:'RockoFLFBold';src:url('../fonts/rockoflf-bold-webfont.eot');src:url('../fonts/rockoflf-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/rockoflf-bold-webfont.woff') format('woff'),url('../fonts/rockoflf-bold-webfont.ttf') format('truetype'),url('../fonts/rockoflf-bold-webfont.svg#RockoFLFBold') format('svg');font-weight:normal;font-style:normal}

html, body {
    margin: 0;
    border: 0;
    font-family: RockoFLFBold, Arial;
}

.hFlip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.vFlip {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";    
}

.stage_holder {
    position: relative;
    top: 4px;
    left: 4px;
    height: 645px;
    overflow: hidden;
    margin-right: 320px;
    border-radius: 4px;
}

.stage {
    width: 100%;
    height: 100%;
}

.about {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    font-family: monospace;
    font-size: 12px;
    z-index: 1000;
    color: #666;
    padding: 4px;
}
.about a {
    text-decoration: none;
    color: inherit;
}
.about a:hover {
    color: #CCC;
}


.debug {
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    font-family: monospace;
    font-size: 12px;
    z-index: 1000;
    color: lime;
    padding: 4px;
}


.exits {
    position: fixed;
    top: 42px;
    right: 320px;
    background: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    z-index: 1000;
    color: #666;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
    border-radius: 6px;
}

.exits h2 {
    padding: 12px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.exits ul {
    list-style: none;
    padding: 12px;
    margin: 0;
    line-height: 14px;
}

.exits a {
    color: inherit;
    text-decoration: none;
}


.location_holder {
    position: absolute;
    top: 0;
    left: 4px;
    overflow: hidden;
    width: 100%;
    margin-right: 328px;
}

.location {
    width: 300px;
    margin-left: auto;
    margin-right: 324px;
    text-align: right;
    font-size: 36px;
    color: #333;
    text-shadow: 0px 3px 1px rgba(255, 255, 255, 0.85);
}

.offScreenBuffer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.loading_holder {
    position: fixed;
    top: 260px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.loading {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    background: #EEE;
    border-radius: 16px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 18px;
}

.loading .percent_holder {
    position: relative;
    width: 500px;
    height: 16px;
    margin-top: 8px;
    margin-left: 18px;
    background: #CCC;
    border-radius: 8px;
    overflow: hidden;
}

.loading .percent {
    height: 16px;
    width: 0%;
    background: #999;
}

.player_holder,
.other_player_holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 119px;
}

.player_frame,
.other_player_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 119px;
    overflow: hidden;
}

.player,
.other_player {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 119px;
    overflow: hidden;
    background-position: -1092px 0;
}

.nameLabel {
    margin-top: -20px;
    text-shadow: 0 0 1px rgb(255,255,255);
    text-align: center;
}

.facingLeft {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.nameChange {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 296px;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 6px;
}

.instructions {
    position: fixed;
    top: 62px;
    right: 4px;
    width: 296px;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
}


